
.idea/inspectionProfiles/profiles_settings.xml
.idea/knowledge-hub.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
book/_build/.doctrees/environment.pickle
book/_build/.doctrees/glue_cache.json
book/_build/.doctrees/intro.doctree
book/_build/.doctrees/markdown.doctree
book/_build/.doctrees/notebooks.doctree
.idea/workspace.xml
book/_build/html/.buildinfo
book/_build/html/_images/computer-vision.svg
book/_build/html/_images/NLP-chatbot.svg
book/_build/html/_images/notebooks_2_0.png
book/_build/html/_panels_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
book/_build/html/_panels_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
book/_build/html/_sources/intro.md
book/_build/html/_sources/markdown.md
book/_build/html/_sources/notebooks.ipynb
