
.idea/inspectionProfiles/profiles_settings.xml
.idea/knowledge-hub.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
book/_build/.doctrees/environment.pickle
book/_build/.doctrees/glue_cache.json
book/_build/.doctrees/intro.doctree
book/_build/.doctrees/markdown.doctree
book/_build/.doctrees/notebooks.doctree
.idea/workspace.xml
book/_build/html/.buildinfo
book/_build/html/_images/computer-vision.svg
book/_build/html/_images/NLP-chatbot.svg
book/_build/html/_images/notebooks_2_0.png
book/_build/html/_panels_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
book/_build/html/_panels_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
book/_build/html/_sources/intro.md
book/_build/html/_sources/markdown.md
book/_build/html/_sources/notebooks.ipynb
book/_build/html/_static/__init__.py
book/_build/html/_static/__pycache__/__init__.cpython-37.pyc
book/_build/html/_static/basic.css
book/_build/html/_static/check-solid.svg
book/_build/html/_static/clipboard.min.js
book/_build/html/_static/copy-button.svg
book/_build/html/_static/copybutton.css
book/_build/html/_static/copybutton.js
book/_build/html/_static/copybutton_funcs.js
book/_build/html/_static/css/blank.css
book/_build/html/_static/css/index.ff1ffe594081f20da1ef19478df9384b.css
book/_build/html/_static/css/theme.css
book/_build/html/_static/custom.css
book/_build/html/_static/doctools.js
book/_build/html/_static/documentation_options.js
book/_build/html/_static/favicon.png
book/_build/html/_static/file.png
book/_build/html/_static/images/logo_binder.svg
book/_build/html/_static/images/logo_colab.png
book/_build/html/_static/images/logo_jupyterhub.svg
book/_build/html/_static/jquery-3.5.1.js
book/_build/html/_static/jquery.js
book/_build/html/_static/js/index.be7d3bbb2ef33a8344ce.js
book/_build/html/_static/language_data.js
book/_build/html/_static/logo.png
book/_build/.doctrees/computer-vision.doctree
book/_build/.doctrees/data-pipelining.doctree
book/_build/.doctrees/data-storytelling.doctree
book/_build/.doctrees/kiva.doctree
book/_build/.doctrees/nlp.doctree
book/_build/.doctrees/notebooks/kiva.doctree
book/_build/html/_images/data-pipelining.svg
book/_build/html/_images/data-storytelling.svg
book/_build/html/_sources/computer-vision.md
book/_build/html/_sources/data-pipelining.md
book/_build/html/_sources/data-storytelling.md
book/_build/html/_sources/nlp.md
book/_build/html/_static/minus.png
book/_build/html/_static/mystnb.css
book/_build/html/_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
book/_build/html/_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
book/_build/html/_static/plus.png
book/_build/html/_static/pygments.css
book/_build/html/_static/searchtools.js
book/_build/html/_static/sphinx-book-theme.css
book/_build/html/_static/sphinx-book-theme.d59cb220de22ca1c485ebbdc042f0030.js
book/_build/html/_static/sphinx-book-theme.e2363ea40746bee74734a24ffefccd78.css
book/_build/html/_static/sphinx-thebe.css
book/_build/html/_static/sphinx-thebe.js
book/_build/html/_static/togglebutton.css
book/_build/html/_static/togglebutton.js
book/_build/html/_static/underscore-1.13.1.js
book/_build/html/_static/underscore.js
book/_build/html/_static/vendor/fontawesome/5.13.0/css/all.min.css
book/_build/html/_static/vendor/fontawesome/5.13.0/LICENSE.txt
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.eot
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.svg
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.ttf
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-brands-400.woff2
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.eot
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.svg
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.ttf
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-regular-400.woff2
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.eot
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.svg
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.ttf
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff
book/_build/html/_static/vendor/fontawesome/5.13.0/webfonts/fa-solid-900.woff2
book/_build/html/_static/webpack-macros.html
book/_build/html/computer-vision.html
book/_build/html/data-pipelining.html
book/_build/html/data-storytelling.html
book/_build/html/genindex.html
book/_build/html/index.html
book/_build/html/intro.html
book/_build/html/markdown.html
book/_build/html/nlp.html
book/_build/html/objects.inv
book/_build/html/search.html
book/_build/html/searchindex.js
book/notebooks/.ipynb_checkpoints/kiva-checkpoint.ipynb
book/_build/jupyter_execute/notebooks/kiva.py
book/_build/jupyter_execute/notebooks/kiva.ipynb
book/_build/jupyter_execute/kiva_16_1.png
book/_build/jupyter_execute/kiva_15_1.png
book/_build/jupyter_execute/kiva.py
book/_build/jupyter_execute/kiva.ipynb
book/_build/html/reports/kiva.log
book/_build/html/notebooks/kiva.html
book/_build/html/kiva.html
book/_build/html/_sources/notebooks/kiva.ipynb
book/_build/html/_sources/kiva.ipynb
book/_build/html/_images/kiva_16_1.png
book/_build/html/_images/kiva_15_1.png
book/.ipynb_checkpoints/kiva-checkpoint.ipynb
book/_build/html/_images/kiva_17_1.png
book/_build/html/_images/kiva_18_1.png
book/_build/html/_images/kiva_19_1.png
book/_build/html/_images/kiva_20_0.png
book/_build/jupyter_execute/kiva_17_1.png
book/_build/jupyter_execute/kiva_18_1.png
book/_build/jupyter_execute/kiva_19_1.png
book/_build/jupyter_execute/kiva_20_0.png
book/_build/html/_images/kiva_16_0.png
book/_build/html/_images/kiva_22_0.png
book/_build/html/_images/kiva_23_0.png
book/_build/html/_images/kiva_26_0.png
book/_build/html/_images/kiva_28_0.png
book/_build/html/_images/kiva_36_0.png
book/_build/html/_images/kiva_38_0.png
book/_build/html/_images/kiva_39_0.png
book/_build/jupyter_execute/kiva_16_0.png
book/_build/jupyter_execute/kiva_22_0.png
book/_build/jupyter_execute/kiva_23_0.png
book/_build/jupyter_execute/kiva_26_0.png
book/_build/jupyter_execute/kiva_28_0.png
book/_build/jupyter_execute/kiva_36_0.png
book/_build/jupyter_execute/kiva_38_0.png
book/_build/jupyter_execute/kiva_39_0.png
book/_build/html/_images/kiva_45_0.png
book/_build/html/_images/kiva_46_0.png
book/_build/html/_images/kiva_50_0.png
book/_build/html/_images/kiva_52_0.png
book/_build/html/_images/kiva_54_0.png
book/_build/html/_images/kiva_62_0.png
book/_build/html/_images/kiva_64_0.png
book/_build/html/_images/kiva_66_0.png
book/_build/html/_images/kiva_67_0.png
book/_build/html/_images/kiva_69_0.png
book/_build/html/_images/kiva_70_0.png
book/_build/jupyter_execute/kiva_45_0.png
book/_build/jupyter_execute/kiva_46_0.png
book/_build/jupyter_execute/kiva_50_0.png
book/_build/jupyter_execute/kiva_52_0.png
book/_build/jupyter_execute/kiva_54_0.png
book/_build/jupyter_execute/kiva_62_0.png
book/_build/jupyter_execute/kiva_64_0.png
book/_build/jupyter_execute/kiva_66_0.png
book/_build/jupyter_execute/kiva_67_0.png
book/_build/jupyter_execute/kiva_69_0.png
book/_build/jupyter_execute/kiva_70_0.png