.idea/inspectionProfiles/profiles_settings.xml
.idea/knowledge-hub.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/book/_build/
.idea/workspace.xml
.gitattributes
book/past-articles/.ipynb_checkpoints/